.logo {
  font-size: 5ch;
  overflow: hidden;
  border-right: 5px var(--neon) solid;
  letter-spacing: 1ch;
  text-shadow: 0px 0px 1ch var(--btncolor);
  animation: bringtext 5s steps(10, end), cursorblink 0.75s step-end infinite;
}
.header-container {
  position: sticky;
  z-index: 1;
}
.logo-container {
  display: inline-block;
}
@keyframes bringtext {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes cursorblink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--neon);
  }
}
.horizontal-break {
  height: 0.1ch;
  width: 100%;
  background-color: var(--colorhr);
  display: flex;
}

.shadow-break {
  width: 10%;
  background-color: var(--neon);
  box-shadow: 0px 0px 2ch var(--neon);
  animation: marginal 5s linear infinite;
}

@keyframes marginal {
  from,
  to {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(900%);
  }
}

.header-container img {
  height: inherit;
  width: 5vw;
  cursor: pointer;
  margin-left: auto;
  display: inline;
}
.header-container {
  display: flex;
}
