.commonModal {
  z-index: 1;
  position: absolute;
  color: var(--mainColor);
  overflow-y: scroll;
  border-radius: 2rem;
  flex-direction: column;
  align-items: center;
  border: 2px #1b2735 solid;
  margin-top: 10vh;
  margin-left: 25vw;
  height: 50vh;
  width: 50vw;
  margin-top: 20vh;
}

body[data-theme="light"] .commonModal {
  background-color: rgba(255, 255, 255, 1);
}
body[data-theme="dark"] .commonModal {
  background-color: rgba(0, 0, 0, 1);
}

.modalHidden {
  display: none;
}
.modalShow {
  display: flex;
}

.modal p {
  font-size: 1.5rem;
  display: block;
}
.commonModal .btnContainer {
  margin-top: auto;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.modal em {
  color: var(--dead);
}
.askTime {
  height: 50vh;
  width: 50vw;
  margin-left: 25vw;
  justify-content: center;
}

.timeForm {
  color: var(--mainColor);
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.timeForm * {
  margin: 1rem;
}
.timeForm input {
  height: 2rem;
}
.commonModal input {
  height: 100%;
  width: auto;
  font-size: 1rem;
}
